@use '../util' as u;
.user-info {
	display: grid;
	grid-template-columns: 30% 55% 15%;
	align-items: center;
	padding: 0 10px;
	h4 {
		margin-left: 40px;
	}
	img {
		width: 40px;
		aspect-ratio: 1/1;
		border-radius: 50%;
	}
}
.icon-container {
	display: flex;
	gap: 15px;
}
.active-calories {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: u.$background-color_8;
	padding: 0 10px;
	margin: 15px 10px 0;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
	h1 {
		margin-top: 10px;
		font-size: 1.2rem;
	}
}
.active-calories-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}
.calories-content {
	p {
		font-size: 1rem;
		span {
			font-weight: 700;
		}
	}
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 10px 0;
	h2 {
		position: relative;
		text-align: center;
		font-size: 1.25rem;
		color: u.$color_5;
		font-weight: 600;
		small {
			font-size: 0.8rem;
			font-weight: 600;
		}
	}
}
.circle {
	position: relative;
	width: 80px;
	aspect-ratio: 1/1;
	background: conic-gradient( from 0deg, #590b94 0%, #590b94 0% var(--i), #b3b2b2 var(--i), #b3b2b2 100% );
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	&::before {
		content: "";
		position: absolute;
		inset: 10px;
		background-color: u.$background-color_8;
		border-radius: 50%;
	}
}
.mobile-personal-bests {
	display: none;
}
.friends-activity {
	display: flex;
	flex-direction: column;
	h1 {
		font-size: 1.2rem;
		font-weight: 700;
		margin: 15px 0 10px 15px;
	}
}
.card-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.card {
	background-color: u.$background-color_9;
	margin: 0 10px;
	padding: 5px 7px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
	p {
		font-size: 0.9rem;
		padding: 0 5px 5px;
	}
}
.card-two {
	display: block;
}
.card-user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 5px;
	img {
		width: 25px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		object-fit: cover;
	}
	h2 {
		font-size: 1rem;
		font-weight: 700;
		margin-left: 5px;
	}
}
.card-img {
	display: block;
	width: 100%;
	aspect-ratio: 7/4;
	margin-bottom: 10px;
	object-fit: cover;
	border-radius: 10px;
	object-position: 50% 30%;
}