$color_1: #fff;
$color_2: #000;
$color_3: #484d53;
$color_4: #484b57;
$color_5: rgb(91, 95, 111);
$background-color_1: rgb(124, 136, 224, 0.5);
$background-color_2: #aee2a4a1;
$background-color_3: #ecfcc376;
$background-color_4: #e6a7c3b5;
$background-color_5: rgba(185, 159, 237, 0.6);
$background-color_6: rgba(238, 184, 114, 0.6);
$background-color_7: rgba(184, 224, 192, 0.6);
$background-color_8: rgb(214, 227, 248);
$background-color_9: #fff;